@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #076585;
    --background-color: #FFFFFF;
    --text-color: #333;
    /* --fpl-linear-gradient-first-color: #0f3443;
    --fpl-linear-gradient-second-color: #34e89e; */
    --fpl-linear-gradient-first-color: #0F3443;
    --fpl-linear-gradient-second-color: #8decc4;
    --eliteserien-linear-gradient-first-color: #41D5F9;
    --eliteserien-linear-gradient-second-color: #2c3e50;
    --height-the-gray-box-should-go-into-header: -10px;
    --height-the-gray-box-should-go-away-from-header: 10px; /* Give this the same value as the var above only opposite sign */
    --size-of-scewY: 30px;
    --size-of-top-bar: 130px;
    --size-of-top-bar-mobile: 60px;
    --skew-Degrees: 0deg;
    --link-color: black;
    --title-color: #FFFFFF;
    --content-color: #E8E8E8;
    --border-radius-content: 10px;
    --content-width: 98%;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato';
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

h1, h2 {
    line-height: 1.2;
    font-weight: 300;
    margin: 30px 0 10px 0;
}

p {
    margin: 10px 0;
}


.max-width {
    max-width: 800px;
}

a:hover {
    text-decoration: none;
}



.showcasesss {
    height: 200px;
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.start-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto; /* top/bottum left/right */
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
    background: var(--content-color);
    width: var(--content-width);
    /* align-items: center; */
    border-radius: var(--border-radius-content);
    top: var(--height-the-gray-box-should-go-into-header);
    position: relative;
    text-align: center;
}


.front-page-bottom {
    position: relative;
    z-index: 10;
}


.front-page-top-moss {
    height: 120px;
    background: #34e89e;  /* fallback for old browsers */

    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: -webkit-linear-gradient(to right, #4ca1af, #c4e0e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca1af, #c4e0e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* Moss */
    background: -webkit-linear-gradient(to right, #134e5e, #71b280);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #134e5e, #71b280); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*position: relative;
    top: -50px;*/
}

