@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    /* Default styles */
    --background-color: #FFFFFF;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --text-color: #333;

    --font-family: 'Lato';
    --max-width: 1000px;
    /* --page-background-color: #eeeeee; */
    --page-background-color: #f5f5f5;
    --size-of-top-bar-mobile: 60px;
    --link-color: var(--black-color);
    --border-color: #b9b9b9;
    
    /* Layout */
    --fpl-linear-gradient-first-color: #0F3443;
    --fpl-linear-gradient-second-color: #8decc4;
    --fpl-linear-gradient-second-color-darker: rgba(15, 97, 63, 0.73);
    
    --eliteserien-linear-gradient-first-color: #37d7feb3;
    --eliteserien-linear-gradient-first-color: #7cd9f0b3;
    --eliteserien-linear-gradient-second-color: #1b2f44;
    --eliteserien-linear-gradient-first-color-darker: #47abd8;
    
    --eliteserien-linear-gradient-first-color: #7cd9f0b3;
    --eliteserien-linear-gradient-second-color: #1b2f44;
    
    /* Header */
    --logo-color: var(--white-color);
    --top-menu-items-color: var(--black-color);
    --font-size-menu-items: 18px;
    --font-size-menu-sub-items: 16px;
    --font-size-header-title: 26px;

    /* Footer */
    --footer-background-color: #0f3443;
    --footer-h2-color-eliteserien: #7fd9ff;
    --footer-h2-color-premier-league: var(--fpl-linear-gradient-second-color);

    /* Fixture Planning */
    --fdr-premier-league-1: #375523;
    /* --fdr-premier-league-1: #A9D3CA; */
    --fdr-premier-league-2: #7ce0ac;
    /* --fdr-premier-league-2: #DAECE8; */
    --fdr-premier-league-3: #bfbfbf;
    /* --fdr-premier-league-3: #F3E7DA; */
    --fdr-premier-league-4: #fa0c4896;
    /* --fdr-premier-league-4: #F7D9E3; */
    --fdr-premier-league-5: #7004268c;
    /* --fdr-premier-league-5: #F2BFCF; */

    --fdr-eliteserien-1: #47abd89e;
    --fdr-eliteserien-1: #87C5E1;
    --fdr-eliteserien-2: #95d2ec8f;
    --fdr-eliteserien-2: #BDDFED;
    --fdr-eliteserien-3: #e7f9ff87;
    --fdr-eliteserien-3: #EAF4F7;
    --fdr-eliteserien-4: #ff4242a3;
    --fdr-eliteserien-4: #F98080;
    --fdr-eliteserien-5: #d01b1bb5;
    --fdr-eliteserien-5: #D95858;
    --fdr-eliteserien-double: #1d3557bf;
    --fdr-eliteserien-double: #52647D;

    --fdr-color-blank: #000000ab;
    --fdr-color-blank: #4E4E4E;
    --fdr-greyed-box: #d5d4d4;
    --round-row-color: #414c50;
    --fdr-border-color: #00000080;
    --name-column-top-corner: var(--round-row-color);

    --fdr-box-padding-height: 12px;
    --fdr-box-padding-width: 15px;
    --fdr-box-padding-width-small-screen: 5px;
    --fdr-box-height: 54px;
    --fdr-box-th-height: 55px;
    --fdr-border-width: 3px;
    --fdr-box-gap: 1px;
    --fdr-box-min-width-small-screen: 95px;

    /* Statistiscs */
    --table-even-rows: #F8F9F9;
    --table-odd-rows: var(--white-color);;
    --table-thead-tr-color:  var(--black-color);
    --table-thead-tr-background-color-eliteserien: #cbe5eff7;
    --table-thead-tr-background-color-fpl: #cce8cf;
    --table-thead-height: 40px;
    --table-thead-height-compact: 30px;
    
    /* Components */
    --submit-button-color: #1b2f44;
    --submit-button-text-color: var(--white-color);
    --search-box-color: #0f3443;

    --filter-all-background-color: transparent;
    --filter-all-color: var(--black-color);
    
    /* Pagination */
    --pagination-item-color: #0F3443;
    --pagination-item-border-color: #9ea5a8;
    --pagination-item-hover-color: #0F3443;
}

