@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #076585;
    --background-color: #FFFFFF;
    --text-color: #333;
    --fpl-linear-gradient-first-color: #0F3443;
    --fpl-linear-gradient-second-color: #8decc4;

    --fpl-linear-gradient-second-color-darker: rgba(15, 97, 63, 0.73);

    --footer-color: #0f3443;
    --white-color: #FFFFFF;
    --black-color: #000000;
    /* --page-background-color: #dfdfdf; */
    --page-background-color: #eeeeee;
    /* --eliteserien-linear-gradient-first-color: #41D5F9; */
    --eliteserien-linear-gradient-first-color: #37d7feb3;
    --eliteserien-linear-gradient-first-color: #7cd9f0b3;
    /* --eliteserien-linear-gradient-second-color: #2c3e50; */
    --eliteserien-linear-gradient-second-color: #1b2f44;
    --height-the-gray-box-should-go-into-header: -0px;
    --height-the-gray-box-should-go-away-from-header: 0px; /* Give this the same value as the var above only opposite sign */
    --size-of-scewY: 30px;
    --size-of-top-bar: 100px;
    --size-of-top-bar-mobile: 60px;
    --skew-Degrees: 0deg;
    --link-color: var(--black-color);
    --title-color: #FFFFFF;
    --content-color: inherit;
    --border-radius-content: 10px;
    --content-width: 98%;
    --max-width: 1000px;

    /* Header */
    --font-size-menu-items: 18px;
    --font-size-menu-sub-items: 16px;
    --font-size-header-title: 26px;

    /* Components */
    --submit-button-color: #D6CDCD;
    --search-box-color: #0f3443;

    /* Statistiscs */
    --table-border-color: #d1cbcb;
    --table-thead-color: var(--white-color);
    --table-even-rows: rgb(248, 249, 249);
    --table-odd-rows: rgb(255, 255, 255);
    --table-thead-tr-color: black;
    --table-thead-tr-background-color: #cbe5eff7;
    --table-thead-height: 40px;
    /* --table-thead-tr-background-color: #dceaf6; */

    /* Fixture Planning */
    --name-col-color: #dfdfdfc7;
    --round-row-color: #414c50;
    /* --round-row-color: #0f3443; */
    --fdr-color-1: #375523;
    --fdr-color-2: #7ce0ac;
    --fdr-color-3: #bfbfbf;
    --fdr-color-4: #fa0c4896;
    --fdr-color-5: #7004268c;
    /* --fdr-color-4: #ff17516b; */
    /* --fdr-color-5: #80072d66; */
    --fdr-border-color: #00000080;
    /* --fdr-color-1: #375523;
    --fdr-color-2: #01fc7a;
    --fdr-color-3: #bfbfbf;
    --fdr-color-4: #ff1751;
    --fdr-color-5: #80072d; */
    --name-column-top-corner: #fdfdf00;
    --fdr-box-padding-height: 15px;
    --fdr-box-padding-width: 12px;
    --fdr-box-height: 54px;
    --fdr-box-th-height: 55px;
    --fdr-border-width: 3px;
    --fdr-box-gap: 1px;

    /* Footer */
    --footer-h2-color-eliteserien: #7fd9ff;
    --footer-h2-color-premier-league: var(--fpl-linear-gradient-second-color);

    /* Pagination */
    --pagination-item-color: #0F3443;
    --pagination-item-border-color: #9ea5a8;
    --pagination-item-hover-color: #0F3443;
    /* --pagination-item-color: #1890ff;
    --pagination-item-border-color: #40a9ff; */
} 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato';
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

h1, h2 {
    line-height: 1.2;
    font-weight: 300;
    margin: 30px 0 10px 0;
    font-size: 28px;
}

p {
    margin: 10px 0;
}

.max-width {
    max-width: 1200px;
}

a:hover {
    text-decoration: none;
}

.front-page-bottom {
    background-color: var(--page-background-color);
    position: relative;
}

.start-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: var(--max-width);
    margin: 0 auto;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
    background: var(--content-color);
    width: var(--content-width);
    border-radius: var(--border-radius-content);
    top: var(--height-the-gray-box-should-go-into-header);
    position: relative;
    text-align: center;
}

/* table tr:nth-child(even) {
    background-color: var(--table-even-rows);
}

table tr:nth-child(odd) {
    background-color: var(--table-odd-rows);
} */


h2 {
    font-size: 24px;
    margin-bottom: 12px;
}

/* table thead tr {
    background-color: var(--table-thead-tr-background-color) !important;
    color: var(--table-thead-tr-color) !important;
} */


.FPL .player-ownership-container table thead tr {
    background-color: #cce8cf !important;
}

.Eliteserien table thead tr {
    background-color: var(--table-thead-tr-background-color) !important;
}

thead {
    background-color: var(--table-thead-tr-background-color);
}

.stat-table th, .stat-table td {
    border-color: transparent !important;
}