
.front-page-top-sky {
    position: relative;
    
    &.fpl {
        background: var(--fpl-linear-gradient-second-color);  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, var(--fpl-linear-gradient-first-color), var(--fpl-linear-gradient-second-color));  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, var(--fpl-linear-gradient-first-color), var(--fpl-linear-gradient-second-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    &.esf {
        background: var(--eliteserien-linear-gradient-first-color);  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, var(--eliteserien-linear-gradient-first-color), var(--eliteserien-linear-gradient-second-color));  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, var(--eliteserien-linear-gradient-first-color), var(--eliteserien-linear-gradient-second-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .top-navbar {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        max-width: var(--max-width);
        margin: 0 auto;
        height: 50px;
        padding: 0 40px;
        color: var(--top-menu-items-color);
                
        .top-navbar-container {
            margin-right: 10px;
            display: flex;
            margin-bottom: 6px;
            margin-left: 15px;
        }

        .top-navbar-language-container {
            margin-bottom: 12px;
    
            button {
                color: inherit;
                background-color: transparent;
                border: none;
                cursor: auto;
                font-size: 14px;

                &:hover {
                    border-color: transparent;
                    cursor: auto;
                    &.not-chosen {
                        color: white;
                        color: var(--black-color);
                        border-bottom: 1px solid white;
                        border-bottom: 1px solid var(--black-color);
                    }
                }

                &.not-chosen {
                    color: #9b9696;
                    color: var(--white-color);
                    cursor: pointer;
                }
            }

            button:last-child {
                margin-left: 2px;
            }
        }
    }
}

.circle-link {
    display: block;
    height: 26px;
    border-radius: 25px;
    box-shadow: 0 0 0 1px #00000082;
    margin: 0 5px 0 20px;
    color: var(--black-color);
    font-size: 16px;
    padding-left: 10px;
    padding-top: 0px;
    width: 46px !important;
    background: transparent;

    &.fpl {
        background: var(--fpl-linear-gradient-second-color);  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, var(--fpl-linear-gradient-first-color), var(--fpl-linear-gradient-second-color));  /* Chrome 10-25, Safari 5.1-6 */
        position: relative;
    }

    &.esf {
        background: var(--eliteserien-linear-gradient-first-color);  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, var(--eliteserien-linear-gradient-first-color), var(--eliteserien-linear-gradient-second-color));  /* Chrome 10-25, Safari 5.1-6 */
        position: relative;
    }
}


.navbar {
    height: var(--height-menu-items);

    .nav-container {
        display: flex;
        align-items: center;
        height: 100%;
        max-width: var(--max-width);
        margin: 0 auto;
        padding: 0 40px 0 40px;
        justify-content: space-between;

        .logo {
            margin-bottom: 75px;
            
            a {
                color: var(--logo-color);
                font-size: var(--font-size-header-title);
            }
        }

        nav {
            color: var(--top-menu-items-color);

            .dropdown {
                position: relative;
                display: inline-block;

                button {
                    cursor: auto !important;
                    color: rgb(11, 13, 14);
                    letter-spacing: 0em;
                    font-weight: 400;
                    font-style: normal;
                    height: var(--height-menu-items);
                }
                
                .dropbtn {
                    background-color: transparent;
                    cursor: pointer;
                    padding: 10px 20px;
                    border-top: 1px solid #030303;
                    border-right: 1px solid #030303;
                    border-left: 1px solid #030303;
                    font-family: var(--font-family);
                    
                    border-bottom: none;
                    border: none;
                    color: inherit;
                    font-size: var(--font-size-menu-sub-items);
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: 0em;
                    margin-right: 0px;    
                }
                
                button.dropbtn {
                    font-size: var(--font-size-menu-items);
                }

                a.dropbtn {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                }
            }

            .dropdown-content {
                display: none;
                position: absolute;
                min-width: 160px;
                z-index: 11;
              }
              
              .dropdown-content a {
                color: black;
                font-size: 15px;
                padding: 13px 20px;
                text-decoration: none;
                display: block;
                z-index: 12;
              }
                            
              .dropdown:hover .dropdown-content {display: block;}
              
              .dropdown:hover .dropbtn {background-color: #94d8bc;}
        }
    }
}

.esf {
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 0 !important;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        background-color: #f9f9f9 !important;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1 !important;}
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

    li a:hover, .dropdown:hover button {
        background-color: #cef1fecf !important;
    }
    
    li.dropdown {
        display: inline-block;
    }
}

.fpl {
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 0 !important;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        background-color: #f9f9f9 !important;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1 !important;}
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

    li a:hover, .dropdown:hover button {
        background-color: #94d8bc !important;
    }
    
    li.dropdown {
        display: inline-block;
    }
}