.footer {
    background-color: var(--footer-background-color);
    color: var(--white-color);
    padding: 20px 0 35px 0;
    position: relative;
    width: 100%;

    .footer-container {
        display: flex;
        align-items: flex-start;
        height: 100%;
        max-width: var(--max-width);
        margin: 0 auto;
        padding: 0 40px;

        .footer-section {
            margin-right: 50px;
        }

        .footer-section-social-media {
            margin-left: auto;
            margin-right: 20px;
            margin-top: 15px;

            a {
                display: inline;
                position: relative;
                top: -7px;
                margin-left: 10px;
            }
        }
    
        @media (max-width: 600px) {
            .footer-section-social-media {
                margin-left: 0;
            }
        }

        svg {
            display: inline-block;
        }

        a {
            color: var(--white-color);
            display: block;
            border-bottom: 1px solid transparent;
            font-size: 14px;
            margin-top: 7px;

            &:hover {
                border-color: var(--white-color);
                width: fit-content;
            }
        }
    }

    @media (max-width: 600px) {
        .footer-container {
            flex-direction: column;
            padding: 0 15px;
    
            div {
                margin-bottom: 15px;
            }
    
            h2 {
                font-size: 18px;
                margin-bottom: 15px;
            }
    
            a {
                margin-top: 10px;
                font-size: 14px;
            }
        }
    }

    h2 {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 18px;
        color: var(--footer-h2-color-eliteserien);
    }

    svg {
        color: var(--footer-h2-color-eliteserien);
    }

    &.fpl {
        h2 {
            color: var(--footer-h2-color-premier-league);
        }

        svg {
            color: var(--footer-h2-color-premier-league);
        }
    }
}