/frontend/node_modules/
**/migrations

stored_data
backup.py
tests.py

.env

*.txt
*.pyc

**/__pycache__
__pycache__
*__init__.py
__init__.cypython-39.pyc

fplwebpage/__pycache__/__init__.cpython-39.pyc
fplwebpage/__pycache__/*
fplwebpage/__pycache__/__init__.cpython-39.pyc
fplwebpage/__pycache__/settings.cpython-39.pyc
fplwebpage/__pycache__/urls.cpython-39.pyc
fplwebpage/__pycache__/wsgi.cpython-39.pyc

*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/

