/frontend/node_modules/
**/__pycache__
**/migrations
__pycache__
*.txt
*.pyc
stored_data
*__init__.py
backup.py
__init__.cypython-39.pyc
fplwebpage/__pycache__/__init__.cpython-39.pyc
fplwebpage/__pycache__/*
fplwebpage/__pycache__/__init__.cpython-39.pyc
fplwebpage/__pycache__/settings.cpython-39.pyc
fplwebpage/__pycache__/urls.cpython-39.pyc
fplwebpage/__pycache__/wsgi.cpython-39.pyc
home/__pycache__/__init__.cpython-39.pyc
home/__pycache__/admin.cpython-39.pyc
home/__pycache__/apps.cpython-39.pyc
home/__pycache__/models.cpython-39.pyc
.gitignore
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/