
:root {
    --margin-left: 1.25px;
    --margin-right: 1.25px;
}

.search-user-name-container {
    max-width: 697px;
    margin: auto;
    margin-bottom: 25px;

    .name-col {
        padding-left: 10px;
    }

    .narrow {
        max-width: 100px !important;
        min-width: 80px !important;
    }

    .name-col {
        min-width: 180px !important;
    }

    .team-info {
        min-width: 170px;
    }

    .name-col-chips {
        min-width: 145px;
    }

    .name-col-chips-2 {
        min-width: 145px;
    }
    
    .container-player-stats {
        margin: 10px auto;
        display: flex;
        background-color: #EEE;
        justify-content: center;

        tbody tr:first-child td {
            border-width: 0px 1px;
        }

        svg {
            font-size: 0.8rem;
            margin-left: 3px;
            position: relative;
            top: 1px;
        }
    }

    table {
        display: flex;
        flex-wrap: wrap;
        
        a {
            border-bottom: 1px solid var(--black-color);
            font-size: 13px;
        }

        td, tr {
            padding-left: 10px;
        }

        tr:nth-child(even) {
            background-color: var(--table-even-rows);
        }

        tr:nth-child(odd) {
            background-color: var(--table-odd-rows);
        }
    }
    
    thead tr th {
        height: 40px;
        font-size: 700;
    }
    
    tbody tr {
        height: 30px;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        background-color: var(--white-color);
        font-size: 14px;
        overflow: auto;
    }

    td {
        border: solid;
        border-width: 1px 1px;
        border-color: var(--table-border-color);
        text-align: left;
        width: 55px;
        height: 20px;
    }

    th {
        width: 55px;
        height: 20px;
        border: solid;
        border-width: 1px 1px;
        border-color: var(--table-border-color);
        text-align: left;
        padding-left: 7px;
        border-bottom: 1px solid var(--black-color);
    }
    
    tr:first-child {
      border-top: none;
    }
    
    .name-col {
        text-align: left;
        width: 170px;
    }
    
    .input-box {
        height: 30px;
        // margin-left: var(--margin-left);
        margin-right: var(--margin-right);
        border-color: white;
    }
    
    .form-stuff {
        label {
            color: black;
            display: block;
            text-align: left;
            margin-top: 20px;
            font-size: 10px;
            font-weight: 900;
            margin-left: 2px;
        }

        // .last-x-seasons-select {
        //     width: 130px;
        // }

        display: grid;
        grid-template-columns: 130px 1fr 170px;
        font-size: 14px;
        grid-gap: 5px;
        
        .hidden {
            color: transparent;
        }
        .input-box {
            float: left;
            width: 100%;
        }
    }

    @media (max-width: 600px) {
        .form-stuff {
                        
            .input-box {
                height: 35px !important;
            }
        }
    }

    @media (max-width: 300px) {
        .form-stuff {
            grid-template-columns: 0.5fr 0.5fr;
            
            label {
                margin-top: 5px !important;
            }
        }

        .chips-section {
            table {
                width: 100% !important;
                margin-bottom: 25px;

                td, th {
                    width: 400px !important;
                }
            }
        }
    }

    @media (max-width: 300px) {
        .form-stuff {
            grid-template-areas: 
                "head head"
                "aside main"
                "foot foot";
            
            .box-1 {
                grid-area: head;
            }

            .box-5 {
                grid-area: foot;
            }
            
            .input-box {
                height: 35px !important;
            }
        }
    }
    
    .form-info {
        margin-top: 20px;
        display: flex;
        font-size: 10px;
        font-weight: 900;
    }
    
    .describe-boxes {
        text-align: left;
        margin: 0 1px;
    }
    
    .fixture-planner-container {
        max-width: 600px;
    }

    th, td {
        min-width: 145px;
    }

    input {
        border: 1px solid white;
        margin-left: auto !important;
        padding-left: 5px;
    }

    select {
        // border: 1px solid var(--black-color);
        border: 1px solid var(--white-color);
        background-color: var(--white-color);
    }
}

.chips-section {
    margin-top: 30px;
    
    table {
        display: inline-flex !important;
        width: min-content !important;
        margin-bottom: 25px;
    }
    
    .chips-table {
        float: left;
        overflow: auto;
        margin-bottom: 25px;
        margin-right: 33px;
    }

    .team-info-table {
        float: left;
        overflow: auto;
    }
}

@media (max-width: 400px) {
    .team-info-table {
        margin-left: 0px !important;
        margin-bottom: 25px;
    }

    .team-info {
        min-width: 145px !important; 
    }

    .form-stuff {
        grid-template-columns: 1fr !important;
    }

    .search-user-name-container .hidden {
        display: none !important;
    }
}
 
.ant-pagination {
    margin-top: 10px;
}