$min-width: 300px;
$max-width: 480px;
$min-width-mobile: 260px;
$max-width-mobile: 320px;

label.thin-ui-popover {
    position: relative;
    text-align: left;
    &.dotted {
        border-bottom: 1.5px dotted black;
        cursor: pointer;
    }
    h3 {
        text-align: left;
    }

    p {
        line-height: 1.2rem;
        text-align: left;
        font-size: 14px;
        font-weight: 300;
    }

    a {
        margin-left: 4px;
        margin-right: 4px;
        border-bottom: 1px solid var(--eliteserien-linear-gradient-second-color);
        cursor: pointer;
    }

    svg {
        cursor: pointer;
    }

    .top-corner {
        position: absolute !important;
        // top: 0 !important;
        bottom: 73% !important;
        right: 0 !important;
    }

    .thin-ui-popover-body.bottom-position {
        top: -100px;
    }
}

.last-element {
    .thin-ui-popover-body {
        left: -200px !important;
    }
}

@media (max-width: 900px) {
    .adjust-left {
        left: -$min-width !important;
    }
}

@media (max-width: 600px) {
    .adjust-left {
        left: -$min-width-mobile !important;
    }

    label.thin-ui-popover .thin-ui-popover-body.adjust-left {
        position: relative !important;
        min-width: 0 !important;
        max-width: none !important;
        left: 0 !important;
        top: 5px !important;
    }

    // .adjust-top-right-mobile {
    //     position: fixed !important;
    //     left: 10% !important; /* Adjust as needed */
    //     right: 10% !important; /* Adjust as needed */
    //     max-width: calc(100vw - 20px); /* Make sure it fits within the viewport */
    //     max-height: calc(100vh - 20px); /* Make sure it fits within the viewport */
    //     overflow: auto;
    //     top: initial !important;
    // }
    
    .adjust-top-right-mobile {
        padding: 16px !important;
        max-width: 250px !important;
    
        position: fixed !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    
        // position: absolute !important;
        // top: 100% !important; /* Position it right under the parent div */
        // left: 50% !important;
        // transform: translateX(-50%) !important;
        // z-index: 100;
    }

    .bottom-position {
        top: 50% !important;
    }
}



label.thin-ui-popover button[name="popover"] {
    font-family: inherit;
    font-size: inherit;
    background: none;
    border: 0 none;
    display: inline;
    outline: none;
    color: inherit;
    padding: unset;
}

label.thin-ui-popover .thin-ui-popover-body {
    // display: none;
    cursor: auto;

    font-size: 13px;
    border-radius: 2px;
    padding: 16px 36px 16px 16px;
    background-color: #ffffff;
    color: black;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);

    position: absolute;
    z-index: 128;
    top: 32px;
    left: 0;
    // min-width: 320px;
    min-width: $min-width;
    max-width: $max-width;

    white-space: pre-line;

}

label.thin-ui-popover button:focus + .thin-ui-popover-body {
    display: block;
}


// la