
.col-sm-10 {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.big-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 35px;

    .container-rotation {
        max-width: 1000px;
        margin: 3px auto;
        display: inline-block;
        background-color: var(-name-col-color);
        border: 0px var(--black-color) solid;
        height: 1000px;
        overflow-y: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
}