body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: center;
}

/* Input section */

button.margin-top-bottom {
    outline: none;
    background-color: #EEE;
    border: 0px;
    border-bottom: 1px solid black;
}

input {
    text-align: left;
    width: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
}

input.box {
    width: 50px;
}

.day_month {
    font-size: 10px;
}

input[type=checkbox] {
         position: relative;
	       cursor: pointer;
    }
    input[type=checkbox]:before {
         content: "";
         display: block;
         position: absolute;
         width: 14px;
         height: 14px;
         top: 0;
         left: 0;
         background-color:none;
}
input[type=checkbox]:checked:before {
         content: "";
         display: block;
         position: absolute;
         width: 14px;
         height: 14px;
         top: 0;
         left: 0;
}

input.solution-box[type=checkbox]:checked:before {
         background-color:red;
}
input[type=checkbox]:checked:before {
         background-color:#1E80EF;
}


    input[type=checkbox]:checked:after {
         content: "";
         display: block;
         width: 4px;
         height: 8px;
         border: solid white;
         border-width: 0 2px 2px 0;
         -webkit-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         transform: rotate(45deg);
         position: absolute;
         top: 2px;
         left: 5px;
}




#teams_to_check {
    margin-top: 3px;
    margin-bottom: 3px;
}

#which_teams_to_check {
    margin-top: 5px;
    display: none;
}

.margin-top-bottom {
    margin-top: 4px;
    margin-bottom: 4px;
}

.update {
    height: 30px;
    width: 80px;
    text-align: center;
}




.category {
    height: 30px;
    width: 80px;
    text-align: center;
    border: 0.5px solid black;
    border: none;
    background: silver;
    border-radius: 8px;
}


.chosen-category {
    background: #5F9EA0;
    border-radius: 8px;
}

.diff-introduction {
    margin: 0px;
    padding-top: 3px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;
}

/* Difficulty colors */

tbody td.color-0, tbody td.color-10, .color-0, .color-10, span.diff-introduction.color-1 {
   background-color: rgb(0, 0, 0);
   color: white;
}

tbody td.color-1, .color-1, span.diff-introduction.color-1 {
   background-color: rgb(55, 85, 35);
   color: white;
}

tbody td.color-2, .color-2, span.diff-introduction.color-2 {
   background-color: rgb(1, 252, 122);
}

tbody td.color-3, .color-3, span.diff-introduction.color-3 {
   background-color: silver;
}

tbody td.color-4, .color-4, span.diff-introduction.color-4 {
   background-color: rgb(255, 23, 81);
   color: white;
}

tbody td.color-5, .color-5, span.diff-introduction.color-5 {
   background-color: rgb(128, 7, 45);
   color: white;
}

/* Table rows and columns */

table {
    margin: auto auto auto auto;
    width: 100%;
    background-color: none;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name-column {
    background-color: #f4f7f8;
    text-align: left;
    width: 130px;
}

.text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.text-center {
    text-align: center;
}


tbody th {
    /*background: #88CCF1;*/

    background-color: #0f3443;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 5px;

}

tbody td {
    text-align: center;
    padding: 5px;
}

td {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* top right bottom left */
}

.min-width {
  min-width: 100px;
}

#fdr-row-gws {
  background-color: #0f3443;
  color: #ffffff;
}

.no-padding {
    padding: 0;
}

.multiple-fixtures {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.height-2 {
    height: 25px;
    font-size: 13px;
}

.height-3 {
    height: 18px;
    font-size: 10px;
}

.height-4 {
    height: 13px;
    font-size: 7px;
}

th, td {
  height: 54px;
  border-top: 4px solid #FFF;
  border-bottom: 4px solid #FFF;
  border-left: 3px solid #FFF;
  border-right: 3px solid #FFF;
}




.big-container {
     display: flex;
}


/* table structure FDR */

.container-fdr {
    max-width: 900px;
    margin: 5px auto;
    display: flex;
}

#fdr-table {
  display: grid;
  /*grid-template-columns: 120px 1fr;*/
  grid-template-rows: 100%;
  height: 100%;
  background-color: white;
  justify-content: center;
}

#fdr-team-difficulty {
    grid-row: 1 / 3;
    grid-column: 2 / 2;
    background-color: #EEE;
    overflow: hidden;
}

#fdr-team-names {
    grid-row: 1 / 2;
    grid-column: 1 / 1;
}

/* table structure Rotation */

.container-rotation {
    max-width: 900px;
    margin: 3px auto;
    display: inline-block;
    background-color: #EEE;
    border: 0px black solid;
    height: 1000px;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: center;
}

#rotation-top-row {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    background-color: white;
    align-items: flex-start;
}

.name-col-rotation {
    min-width: 120px;
    background-color: #f4f7f8;
    text-align: left;
    color: black;
    font-weight: 100;
}

table.rotation {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
}

/* borders for best fixtures */

.borders-1 {
    /*border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF; */
    padding: 5px;
    background-color: black;
}



.borders-0 {
    /* border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF; */
}

.double-border-1 {
  background-color: #ccc;
  border: 4px solid #fff;
  position: relative;
  margin: 0 auto;
}
.double-border-1:before {
  background: none;
  border: 3px solid black;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}


.not-visible {
    display: none;
}

.visible {
    display: auto;
}


