:root {
    --col-1: 38%;
    --col-2: 25%;
    --col-3: 22%;
    --col-4: 15%;
    --margin-left: 1.25px;
    --margin-right: 1.25px;
}

h1, h2, h3 {
    text-align: center;
    margin-top: 20px;
}

.container-player-stats {
    margin: 5px auto;
    display: flex;
    background-color: #EEE;
    justify-content: center;
}

thead tr th {
    height: 40px;
    font-size: 700;
}

th {
    text-align: center;
    width: 55px;
}

td {
    text-align: center;
    width: 55px;
}

tbody tr {
    height: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    font-size: 14px;
}

tr {
  border: solid;
  border-width: 1px 0;
  border-color: black;
}

tr:first-child {
  border-top: none;
}


.name-col {
    text-align: left;
    width: 170px;
    background-color: white;
}

.input-box {
    height: 30px;
    min-width: 70px;
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
}

.player-input-box {
    width: var(--col-1);
    margin-left: 0;
}

.category-input-box {
    width: var(--col-2);
}

.last-x-input-box {
    width: var(--col-3);
}

.search-box {
    width: var(--col-4);
    background: #0f3443;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
    background: linear-gradient(to right, #0f3443, #34e89e);
    */
    position: relative;
    color: white;
    margin-right: 0;
}

.form-stuff {
    display: flex;
    font-size: 14px;
}

.form-info {
    display: flex;
    font-size: 10px;
    font-weight: 900;

}

.describe-boxes {
    text-align: left;
}
.one {
    width: var(--col-1);
}
.two {
    width: var(--col-2);
}
.three {
    width: var(--col-3);
}
.four {
    width: var(--col-4);
}
