
.front-page-top-sky {
    height: var(--size-of-top-bar);
    background: var(--fpl-linear-gradient-second-color);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--fpl-linear-gradient-first-color), var(--fpl-linear-gradient-second-color));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--fpl-linear-gradient-first-color), var(--fpl-linear-gradient-second-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;

    .top-navbar {
        padding: 0 1rem;
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        
        .top-navbar-container {
            margin-right: 40px;
            display: flex;


            .circle-link {
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 25px;
                background-color: white; // default circle color
                margin: 1px 10px;

                &.fpl {
                    background: var(--fpl-linear-gradient-second-color);  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, var(--fpl-linear-gradient-first-color), var(--fpl-linear-gradient-second-color));  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, var(--fpl-linear-gradient-first-color), var(--fpl-linear-gradient-second-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    position: relative;
                }

                &.eliteserien {
                    background: var(--eliteserien-linear-gradient-first-color);  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to left, var(--eliteserien-linear-gradient-first-color), var(--eliteserien-linear-gradient-second-color));  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to left, var(--eliteserien-linear-gradient-first-color), var(--eliteserien-linear-gradient-second-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    position: relative;
                }
            }
        }
    }

    .container {
        max-width: 1400px;
        margin: 0 auto; /* top/bottum left/right */
        transform: skewY(0deg); /* use negative degrees here to anti skrew text */
        overflow: auto;
        padding: 0 40px;
    }
}

.front-page-top-sky::after {
    content: '';
    position: absolute;
    z-index: 1;
    height: 200px;
    bottom: -200px;
    right: 0;
    left: 0;
    background: var(--background-color);
    transform: skewY(var(--skew-Degrees));
}


.navbar {
    height: 60%;
}

.navbar ul {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}

.navbar a {
    color: var(--link-color);
    padding: 10px;
}

.logo {
    color: var(--title-color);
}

.navbar a:hover {
    border-bottom: 2px var(--link-color) solid;
}

.navbar .flex {
    justify-content: space-between;
}