.fdr-container {
    font-size: 16px;
    overflow-x: auto;
    max-width: 100%;
    margin: 10px 0 40px 0;
    min-height: 400px;
 
    table {
        width: fit-content;
        table-layout: fixed;
        border-collapse: collapse;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    th, td {
        white-space: nowrap;

        height: var(--fdr-box-th-height);
        border: var(--fdr-box-gap) solid var(--page-background-color);
        min-width: 110px;
        
        
        height: 50px;
        // min-width: 90px;
    }

    thead, tbody {
        width: 100%;
    }

    td div {
        border: var(--fdr-border-width) solid transparent;
    }

    th {
        background-color: var(--round-row-color);
        color: var(--white-color);
        letter-spacing: .5px;
        font-size: 14px;

        .day-month {
            font-size: 10px;
            border: none;
            display: block;
        }
    }

    .height-2.multiple-fixtures {
        font-size: 11px;
    }

    .fixed-column {
        position: sticky;
        left: -2px;
        z-index: 1;
        background-color: var(--page-background-color);
        text-align: left;
    }

    .postition-container {
        display: flex;
        justify-content: space-between;
        height: 46px;
        max-width: 980px;

        .text {
            font-weight: 900;
            font-size: 14px;
            width: 110px;
            text-align: left;
            top: 21px;
            position: sticky;

            left: 0px;
            margin-top: 22px;
        }

        .button-group {
            position: relative;
            top: 8px;
            display: flex;
            
            button {
                margin: 12px 1px 0 6px;
            }
        }
    }

    .remove-player-btn {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        margin: 2px 8px 0 0;
        cursor: pointer;
        color: var(--fdr-eliteserien-5);
    }
}
  
  
