
.live-fixtures-container {
    max-width: 920px;
    margin: auto;

    .fixture-boxes-container {
        margin-bottom: 42px;

        .fixture-date {
            margin-top: 20px;
            margin-bottom: 2px;
            font-size: 14px;
        }
    
        .fixture-container {
            border-radius: 5px;
            cursor: pointer;
            background-color: var(--white-color);
            border-top: 1px solid var(--page-background-color);
            border-bottom: 1px solid var(--page-background-color);
            padding: 10px 0;
    
            display: flex;
            justify-content: space-between;
            
            &.not-started {
                cursor: auto;
            }

            .home {
                flex-basis: 47%;
                text-align: right;
                margin-right: 10px;
                margin-top: 2px;
            }
            
            .result {
                flex-basis: 6%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #1b2f44;
                color: var(--white-color);
                padding: 2px 0 4px 0;
                border-radius: 16px;
            }
    
            .away {
                flex-basis: 47%;
                text-align: left;
                margin-left: 10px;
                margin-top: 2px;
            }

            @media (max-width: 970px) {
                .result {
                    flex-basis: 12%;
                }
            }

            @media (max-width: 600px) {
                .result {
                    flex-basis: 20%;
                }
            }
        }
        
        .fixture-info-container {
            display: flex;
            flex-wrap: wrap;
            background-color: var(--white-color);
            column-gap: 10px;
            
            
            table {
                width: 100%;
                
                margin-bottom: 25px;
                font-size: 14px;

                thead {
                    text-align: left;

                    tr {
                        background-color: var(--table-thead-tr-background-color-eliteserien) !important;
                        // background-color: #dcdbdbf7 !important;
                        // background-color: #e7e7e7f7 !important;
                    }
                }

                .name {
                    text-align: left;
                    width: 170px;
                }

                tr:nth-child(even) {
                    background-color: var(--table-even-rows);
                }
                tr:nth-child(odd) {
                    background-color: var(--table-odd-rows);
                }

                tbody tr:first-child td {
                    border-top: 1px solid transparent;
                }

                th, td {
                    border-color: transparent !important;
                    // min-width: 60px;
                }

                td {
                    border: solid;
                    border-width: 1px 1px;
                    text-align: left;
                    padding: 4px;
                }
              
                th {
                    border: solid;
                    border-width: 1px 1px;
                    text-align: left;
                    padding-left: 5px;
                    border-bottom: 1px solid var(--black-color);
                    width: 55px;
                    height: 20px;
                }

                tbody tr {
                    height: 30px;
                }

                thead tr th {
                    height: 30px;
                }
            }

            table {
                margin-top: 12px;
            }

            .game-stats {
                flex-basis: 36%;

                .h, .a {
                    min-width: 30px !important;
                }

                .identifier {
                    min-width: 40px !important;
                }

                th {
                    text-align: center;
                    // min-width: 109px !important;
                }

                .team-col {
                    width: 95px;
                    min-width: 120px;
                }

                @media (max-width: 900px) {
                    .team-col {
                        min-width: 60px;
                    }
                }

                td {
                    text-align: center !important;
                    width: 33%;
                }
            }

            
            .stats {
                margin-bottom: 0;
            }
            
            .bonus-list {
                .h, .a {
                    width: 50%;
                }

                
                td.h, td.a {
                    width: 50% !important;
                    min-width: 165px !important;
                }
                
                th {
                    min-width: 165px !important;
                }
            }
            
            .away-players {
                margin-right: 6px;
                flex-basis: 30%;
            }

            .home-players {
                margin-left: 6px;
                flex-basis: 30%;
            }

            .home-players, .away-players, .game-stats {
                flex: 1;
            }

            @media (max-width: 970px) {
                .game-stats {
                    order: 1;
                    margin: 0 6px;
                }
            }

            @media (max-width: 600px) {
                .home-players {
                    margin-right: 6px;
                }
                .away-players {
                    margin-left: 6px;
                }
            }
        }

        @media (max-width: 900px) {
            .fixture-info {
                flex-direction: column;
                flex-wrap: wrap;
            }
        }
    }
}

.opta-box {
    position: absolute;
    left: 46.5%;
    
    p {
        font-size: 12px;
        border-radius: 25px;
        color: white;
        background-color: #1b2f44;
        margin-top: 5px;
        padding: 0 6px 2px 6px;
    }
}

.round-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;

    h2 {
        flex-basis: 20%;
        margin: 0 !important;
    }
    
    .toggle-button {
        flex-basis: 40%;
        position: relative;
        display: flex;
        top: 30px;

        button {
            border-radius: 15px;
            cursor: pointer;
            color: #6c757d;
            border-color: #dee2e6;
            padding: 5px 10px 2px 10px;
            background-color: #fff;
            border: 1px solid #dee2e6;
            
            svg {
                width: 15px;
                height: 15px;
            }
            
            span {
                position: relative;
                bottom: 3px;
            }
        }
    
        &.left {
            justify-content: start;

            span {
                margin-right: 6px;
            }

            svg {
                margin-right: 10px;
            }
        }
    
        &.right {
            justify-content: end;

            span {
                margin-left: 6px;
            }

            svg {
                margin-left: 10px;
            }
        }
    }

    @media (max-width: 500px) {
        .toggle-button {
            top: 0;
        }
    }
}