.button-with-icon:hover span {
    border-bottom: 1px solid #00000082 !important;
}

.button-with-icon {
    display: flex;
    cursor: pointer !important;
    box-shadow: 0 0 0 1px #00000082;
    box-shadow: 0 0 0 1px transparent;
    border-radius: 25px;
    padding: 4px;
    svg {
        font-size: 18px;
        margin-right: 4px;
        width: 16px;
        height: 16px;
    }
    button {
        cursor: pointer !important;
        height: 12px;
        margin: 1px 4px 0 3px;
    }
    .league {
        margin-right: 6px;
        margin-left: 2px;
        position: relative;
        bottom: 3px;
    }
    .adjust-height {
        height: 16px;
        line-height: 16px;
        text-align: center;
    }
    .adjust-height-lang {
        height: 15px;
        line-height: 15px;
        text-align: center;
    }
    span {
        display: inline !important;
        font-weight: 700;
        font-family: 'Lato';
        font-size: 14px;
    }
}