
.content-container {
    min-height: 700px;
    
    .fixture-planner-container {
        
        .input-row-container {
            margin-top: 20px;
            display: flex;
            padding: 0 10px;
            justify-content: center;
            align-items: end;
            column-gap: 12px;

            flex-wrap: wrap-reverse;
            
            form {
                display: flex;
                gap: 8px;
                align-items: flex-end;
    
                .submit {
                    width: fit-content;
                    cursor: pointer;
                    font-size: 15px;
                    height: fit-content;
                    padding: 5.5px 15px;
                    background-color: var(--submit-button-color);
                    color: var(--submit-button-text-color);
                    border: none;
                }
            } 
        } 

        // @media screen and (max-width: 450px) {
        //     .input-row-container {
        //         align-content: center;
        //         flex-wrap: wrap;
        //         flex-direction: column-reverse;
        //         align-items: center;

        //         button {
        //             margin-top: 0;
        //         }
        //     }   
        // }
    }
}

