
:root {
    --col-1: 25%;
    --col-2: 12%;
    --col-3: 7%;
    --col-4: 15%;
    --margin-left: 1.25px;
    --margin-right: 1.25px;
}

.player-ownership-container {
    max-width: 920px;
    margin: auto;

    table thead tr {
        background-color: var(--table-thead-tr-background-color) !important;
        color: var(--table-thead-tr-color) !important;
    }

    .name-col {
        padding-left: 10px;
    }

    .team-info {
        min-width: 170px;
    }

    .name-col-chips {
        min-width: 145px;
    }

    .name-col-chips-2 {
        min-width: 145px;
    }
    
    .container-player-stats {
        margin: 5px auto;
        display: flex;
        background-color: #EEE;
        justify-content: center;
    }
    
    thead tr th {
        height: var(--table-thead-height);
    }
    
    th {
        text-align: center;
        width: 55px;
        height: 20px;
    }
    
    td {
        text-align: center;
        width: 55px;
        height: 20px;
    }
    
    th, td {
        border-color: transparent !important;
    }

    // thead {
    //     background-color: var(--table-thead-tr-background-color);
    // }
    
    tbody tr {
        height: 30px;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        background-color: var(--white-color);
        font-size: 14px;
        overflow: auto;
        border-collapse: collapse;
        margin: auto auto auto auto;
        width: 100%;
        background-color: none;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        tr:nth-child(even) {
            background-color: var(--table-even-rows);
        }
        tr:nth-child(odd) {
            background-color: var(--table-odd-rows);
        }

        thead tr {
            background-color: var(--table-thead-color);
        }

        tbody tr:first-child td {
            border-top: 1px solid transparent;
        }
    }

    td {
      border: solid;
      border-width: 1px 1px;
      border-color: var(--table-border-color);
      text-align: left;
      padding: 5px;
    }

    th {
        border: solid;
        border-width: 1px 1px;
        border-color: var(--table-border-color);
        text-align: left;
        padding-left: 7px;
        border-bottom: 1px solid var(--black-color);
    }
    
    tr:first-child {
      border-top: none;
    }
    
    .name-col {
        text-align: left;
        width: 170px;
        // background-color: var(--white-color);
    }
    
    .input-box {
        height: 30px;
        // margin-left: var(--margin-left);
        margin-right: var(--margin-right);
        border-radius: 0 !important;
        background-color: var(--white-color) !important;
    }
    
    .player-input-box {
        width: var(--col-1);
        margin-left: 0;
    }
    
    .category-input-box {
        width: var(--col-2);
    }
    
    .last-x-input-box {
        width: var(--col-3);
    }
    
    .search-box {
        width: var(--col-4);
        background: var(--search-box-color);
        color: var(--white-color);
        position: relative;
        margin-right: 0;
    }
    
    .form-stuff {
        label {
            color: var(--black-color);
            display: block;
            text-align: left;
            margin-top: 20px;
            font-size: 10px;
            font-weight: 900;
            margin-left: 2px;
        }
        display: grid;
        grid-template-columns: 150px 90px 60px 1fr 170px;
        font-size: 14px;
        grid-gap: 5px;
        
        &.player-stats {
            grid-template-columns: 138px 110px 140px 1fr 170px;
        }

        select {
            // border: 1px solid var(--black-color);
            border: 1px solid var(--white-color);
            background-color: var(--white-color);
        }
        
        .hidden {
            color: transparent;
        }
        .input-box {
            float: left;
            width: 100%;
        }
    }

    @media (max-width: 600px) {
        .form-stuff {
            grid-template-columns: 0.5fr 0.5fr !important;
            
            label {
                margin-top: 5px;

                &.hidden {
                    margin-top: -5px !important;
                }
            }
        }

        .chips-section {
            table {
                width: 100% !important;
                margin-bottom: 25px;

                td, th {
                    width: 400px !important;
                }
            }
        }
    }

    @media (max-width: 600px) {
        .form-stuff {
            // grid-template-columns: 1fr;
            grid-template-areas: 
                "head head"
                "aside main"
                "foot foot";
            .box-1 {
                grid-area: head;
            }

            .box-2 {
                grid-area: aside;

            }

            .box-3 {
                grid-area: main;

            }

            .box-5 {
                grid-area: foot;
            }
            
            .input-box {
                height: 35px !important;
            }
        }
    }
    
    .form-info {
        margin-top: 20px;
        display: flex;
        font-size: 10px;
        font-weight: 900;
    }
    
    .describe-boxes {
        text-align: left;
        margin: 0 1px;
    }
    .one {
        width: var(--col-1);
    }
    .two {
        width: var(--col-2);
    }
    .three {
        width: var(--col-3);
    }
    .four {
        width: var(--col-4);
    }
    
    .fixture-planner-container {
        max-width: 600px;
    }

    th, td {
        min-width: 130px;
    }

    input {
        border: 1px solid var(--white-color);
        margin-left: auto !important;
        padding-left: 5px;
    }
}

.chips-section {
    margin-top: 30px;
    
    table {
        display: inline-flex !important;
        width: min-content !important;
        margin-bottom: 25px;
    }
    
    .chips-table {
        float: left;
        overflow: auto;
        margin-bottom: 25px;
        margin-right: 33px;
    }

    .team-info-table {
        float: left;
        overflow: auto;
    }
}

@media (max-width: 600px) {
    .team-info-table {
        margin-left: 0px !important;
        margin-bottom: 25px;
    }

    .team-info {
        min-width: 145px !important; 
    }
}

.ant-pagination {
    margin-top: 10px;
    margin-bottom: 25px;
}

.FPL .player-ownership-container table thead tr {
    background-color: #cce8cf !important;
}