
:root {
    --col-1: 25%;
    --col-2: 12%;
    --col-3: 7%;
    --col-4: 15%;
    --margin-left: 1.25px;
    --margin-right: 1.25px;
}

.player-ownership-container {
    max-width: 920px;
    margin: auto;

    .name-col {
        padding-left: 10px;
    }

    .team-info {
        min-width: 170px;
    }

    .name-col-chips {
        min-width: 145px;
    }

    .name-col-chips-2 {
        min-width: 145px;
    }
    
    .container-player-stats {
        margin: 5px auto;
        display: flex;
        background-color: #EEE;
        justify-content: center;
    }
    
    thead tr th {
        height: 40px;
        font-size: 700;
    }
    
    th {
        text-align: center;
        width: 55px;
        height: 20px;
    }
    
    td {
        text-align: center;
        width: 55px;
        height: 20px;
    }
    
    tbody tr {
        height: 30px;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        background-color: white;
        font-size: 14px;
        overflow: auto;
    }

    td {
      border: solid;
      border-width: 1px 1px;
      border-color: #d1cbcb;
      text-align: left;
      padding: 5px;
    }

    th {
        border: solid;
        border-width: 1px 1px;
        border-color: #d1cbcb;
        text-align: left;
        padding-left: 7px;
        border-bottom: 1px solid black;
    }
    
    tr:first-child {
      border-top: none;
    }
    
    
    .name-col {
        text-align: left;
        width: 170px;
        background-color: white;
    }
    
    .input-box {
        height: 30px;
        margin-left: var(--margin-left);
        margin-right: var(--margin-right);
    }
    
    .player-input-box {
        width: var(--col-1);
        margin-left: 0;
    }
    
    .category-input-box {
        width: var(--col-2);
    }
    
    .last-x-input-box {
        width: var(--col-3);
    }
    
    .search-box {
        width: var(--col-4);
        background: #0f3443;  /* fallback for old browsers */
        /*background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
        background: linear-gradient(to right, #0f3443, #34e89e);
        */
        position: relative;
        color: white;
        margin-right: 0;
    }
    
    .form-stuff {
        label {
            color: black;
            display: block;
            text-align: left;
            margin-top: 20px;
            font-size: 10px;
            font-weight: 900;
            margin-left: 2px;
        }
        display: grid;
        grid-template-columns: 150px 90px 60px 1fr 170px;
        font-size: 14px;
        grid-gap: 5px;

        select {
            border: 1px solid black;
            background-color: white;
        }
        
        .hidden {
            color: transparent;
        }
        .input-box {
            float: left;
            width: 100%;
        }
    }

    @media (max-width: 600px) {
        .form-stuff {
            grid-template-columns: 0.5fr 0.5fr;
            
            label {
                margin-top: 5px !important;
            }

        }

        .chips-section {
            table {
                width: 100% !important;
                margin-bottom: 25px;

                td, th {
                    width: 400px !important;
                }
            }
        }
    }

    @media (max-width: 600px) {
        .form-stuff {
            // grid-template-columns: 1fr;
            grid-template-areas: 
                "head head"
                "aside main"
                "foot foot";
            .box-1 {
                grid-area: head;
            }

            .box-2 {
                grid-area: aside;

            }

            .box-3 {
                grid-area: main;

            }

            .box-5 {
                grid-area: foot;
            }
            
            .input-box {
                height: 35px !important;
            }
        }

    }
    
    .form-info {
        margin-top: 20px;
        display: flex;
        font-size: 10px;
        font-weight: 900;
    }
    
    .describe-boxes {
        text-align: left;
        margin: 0 1px;
    }
    .one {
        width: var(--col-1);
    }
    .two {
        width: var(--col-2);
    }
    .three {
        width: var(--col-3);
    }
    .four {
        width: var(--col-4);
    }
    
    .fixture-planner-container {
        max-width: 600px;
    }

    th, td {
        min-width: 130px;
    }

    input {
        border: 1px solid white;
        margin-left: auto !important;
        padding-left: 5px;
    }
}

.chips-section {
    margin-top: 30px;
    
    table {
        display: inline-flex !important;
        width: min-content !important;
        margin-bottom: 25px;
    }
    
    .chips-table {
        float: left;
        overflow: auto;
        margin-bottom: 25px;
        margin-right: 33px;
    }

    .team-info-table {
        float: left;
        overflow: auto;
    }
}





@media (max-width: 600px) {
    .team-info-table {
        margin-left: 0px !important;
        margin-bottom: 25px;
    }

    .team-info {
        min-width: 145px !important; 
    }
}

.ant-pagination {
    margin-top: 10px;
}