.message {
    
    .warning {
        width: fit-content;
        padding: 15px 30px;
        margin: 25px auto;
        border-radius: 10px;
        border: 1px solid #dc4e4e;
        background-color: rgba(220, 78, 78, 0.1490196078);
    }
}