.toggle {
    --width: 80px;
    --height: 20px;
    margin-left: 15px;
    margin-top: 15px;
    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .toggle input {
    display: none;
  }

  .toggle .labels {
    position: absolute;
    top: 0;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 30px;
    font-size: 14px;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }

  .toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: var(--white-color);
    background-color: #1b2f44;
    transition: all 0.4s ease-in-out;
  }

  .toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: calc(var(--width) * -1);
    height: 100%;
    width: 100%;
    color: black;
    background-color: #7cd9f0b3;
    text-align: center;
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked~.labels::after {
    transform: translateX(var(--width));
  }

  .toggle input:checked~.labels::before {
    transform: translateX(var(--width));
  }

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &.small {

    .toggle-section {
      margin-top: 0;
      font-size: 13px;
   
      li {
        height: 21px;
  
        &.defensiv {
          width: 70px;
      }
  
      &.fdr {
          width: 45px;
      }
  
      &.offensiv {
          width: 70px;
      }
    }
    }
  }

  .toggle-section {
    list-style-type: none;
    display: flex;
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 15px;

    li {
        margin: 0 4px 0 0;

        &:last-child {
          margin: 0 1px 0 0;
        }

        width: 100%;
        height: 31px;
        position: relative;
        background-color: var(--white-color);

        &.defensiv {
            width: 80px;
        }

        &.fdr {
            width: 55px;
        }

        &.offensiv {
            width: 80px;
        }

        label, input {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        input[type="radio"] {
            opacity: 0.01;
        }

        .checked {
            border: 1px solid #1b2f44;
            color: #1b2f44;
        }

        label {
            transition: 0.2s;
            cursor: pointer;
            padding: 5px;

            &:hover {
                box-shadow: black 0px 0px 0px 1px;
                border-color: black !important;
                border: 1px solid;
                transition: 0.2s;
            }
        }
    }

    @media screen and (max-width: 300px) {
        .offensiv {
            width: 70px !important;
            font-size: 14px;
        }
        .fdr {
            width: 50px !important;
            font-size: 14px;
        }
        .defensiv {
            width: 70px !important;
            font-size: 14px;
        }
    }
  }
}