
.content-container {
    min-height: 700px;

    .fixture-planner-container {

        .container-fdr {
            max-width: 900px;
            margin: 5px auto;
            display: flex;

            #fdr-table {
                display: grid;
                /*grid-template-columns: 120px 1fr;*/
                grid-template-rows: 100%;
                height: 100%;
                background-color: white;
                justify-content: center;
            }

            #fdr-team-names {
                grid-row: 1 / 2;
                grid-column: 1 / 1;
            }

            .name-column {
                background-color: #f4f7f8;
                text-align: left;
                width: 130px;
            }

            .min-width {
                min-width: 100px;
            }

            #fdr-team-difficulty {
                grid-row: 1 / 3;
                grid-column: 2 / 2;
                background-color: #EEE;
                overflow: hidden;
            }

            #fdr-row-gws {
                background-color: #0f3443;
                color: #ffffff;
            }

            .day_month {
                font-size: 10px;
            }
        }
    }
}

th, td {
    height: 54px;
    border-top: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    border-left: 3px solid #FFF;
    border-right: 3px solid #FFF;
  }

  tbody td {
    text-align: center;
    padding: 5px;
}

.text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  .text-center {
      text-align: center;
  }


  tbody th {
      /*background: #88CCF1;*/

      background-color: #0f3443;
      color: #ffffff;
      font-size: 16px;
      letter-spacing: 0.5px;
      text-align: center;
      padding: 5px;

  }

  .name-column {
    background-color: #f4f7f8;
    text-align: left;
    width: 130px;
}

table {
    margin: auto auto auto auto;
    width: 100%;
    background-color: none;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}





tbody td.color-0, tbody td.color-10, .color-0, .color-10, span.diff-introduction.color-1 {
    background-color: rgb(0, 0, 0);
    color: white;
 }

 tbody td.color-1, .color-1, span.diff-introduction.color-1 {
    background-color: rgb(55, 85, 35);
    color: white;
 }

 tbody td.color-2, .color-2, span.diff-introduction.color-2 {
    background-color: rgb(1, 252, 122);
 }

 tbody td.color-3, .color-3, span.diff-introduction.color-3 {
    background-color: silver;
 }

 tbody td.color-4, .color-4, span.diff-introduction.color-4 {
    background-color: rgb(255, 23, 81);
    color: white;
 }

 tbody td.color-5, .color-5, span.diff-introduction.color-5 {
    background-color: rgb(128, 7, 45);
    color: white;
 }

 .multiple-fixtures {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-padding {
    padding: 0;
}
.height-2 {
    height: 25px;
    font-size: 13px;
}

.height-3 {
    height: 18px;
    font-size: 10px;
}

.height-4 {
    height: 13px;
    font-size: 7px;
}

.container-rotation {
    max-width: 900px;
    margin: 3px auto;
    display: inline-block;
    background-color: #EEE;
    border: 0px black solid;
    height: 1000px;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: center;
}
// .min-width {
//     min-width: 100px;
//   }
table {
    border-collapse: collapse;
}

.double-border-1 {
    background-color: #ccc;
    border: 4px solid #fff;
    position: relative;
    margin: 0 auto;
    font-weight: 600;
}

.double-border-1:before {
    background: none;
    border: 3px solid black;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
  }



  .name-col-rotation {
    min-width: 120px;
    background-color: #f4f7f8;
    text-align: left;
    color: black;
    font-weight: 100;
}

.min-width {
    min-width: 100px;
  }

  .day_month {
    font-size: 10px;
}

tbody th {
    /*background: #88CCF1;*/

    background-color: #0f3443;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 5px;

}
table {
    table-layout: fixed;
    width: 100%;   
}
.big-container {
    display: flex;
    margin-top: 10px;
}
tbody td {
    text-align: center;
    padding: 5px;
}

td {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* top right bottom left */
}


.col-sm-10 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}